*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: antiquewhite;
 
}
a{
    text-decoration: none;
}
#bodyColor{
    background-color: $bgColor;
}
.mainHeader{
    
    background-color: $bgColor;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navContainer{
  
    display: flex;
   
  
   
}
.logoNav>img{
  width: 5vw;
  margin-left: 50%;
  
}
.navList{
    margin-left: 70vw;
    div{
        width: 100%;
        display: flex;
        
        a{
           font-size: $text;           
            &:hover{
                border-bottom: 1px solid;
            }
        }
    } 
}
.navList>div>a{
    font-size: 1.5rem;
   
    &:hover{
        border-bottom: 1px solid;
    }
}



