@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;700&display=swap");
.attr {
  font-size: 3.5rem;
  color: aquamarine;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: antiquewhite;
}

a {
  text-decoration: none;
}

#bodyColor {
  background-color: #272727;
}

.mainHeader {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navContainer {
  width: 100vw;
  display: flex;
}

.logoNav > img {
  width: 5vw;
  margin-left: 50%;
}

.navList div {
  width: 100%;
  display: flex;
  padding-left: 70%;
}
.navList div a {
  font-size: 1rem;
}
.navList div a:hover {
  border-bottom: 1px solid;
}

.navList > div > a {
  font-size: 1.5rem;
  text-align: center;
}
.navList > div > a:hover {
  border-bottom: 1px solid;
}

.mainContent {
  margin-top: 3%;
  display: flex;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent .profileContent {
  display: flex;
  flex-direction: row;
}
.mainContent .profileContent .profileText {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.mainContent .profileContent .profileText .profileTitle {
  display: flex;
  flex-direction: row;
  font-size: 6rem;
  font-family: "Josefin Sans", sans-serif;
}
.mainContent .profileContent .profileText .profileTitle .profileDev {
  background-color: white;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  color: #272727;
  min-width: 15vw;
  max-width: 18vw;
  max-height: 5vh;
  text-align: center;
  clip-path: polygon(7% 0, 100% 0, 94% 100%, 0 98%);
  margin-top: 13%;
}
.mainContent .profileContent .profileText .profileMain {
  font-family: "Alata", sans-serif;
  margin-left: 9%;
  max-width: 46vw;
  font-size: 1.5rem;
}
.mainContent .profileContent .profileText .profileContact {
  display: flex;
  margin-top: 5%;
  margin-left: 9%;
  justify-content: space-around;
}
.mainContent .profileContent .profileText .profileContact a:hover .link {
  color: rgb(67, 210, 220);
}
.mainContent .profileContent .profileText .profileContact a:hover .git {
  color: rgba(66, 11, 75, 0.776);
}
.mainContent .profileContent .profileText .profileContact a i {
  padding-top: 5%;
  width: 5vw;
  height: 8vh;
  font-size: 3rem;
  transition: all, 0.5s;
  text-align: center;
}
.mainContent .profileContent .profileText .profileContact a i:hover {
  background: rgba(79, 159, 132, 0.509);
  border-radius: 0.5rem 0.5rem 0.2rem 0.2rem;
  border-left: solid 0.2rem white;
  border-right: solid 0.2rem white;
  border-bottom: solid 0.3rem white;
}
.mainContent .profileContent .profileImg {
  clip-path: polygon(15% -1%, 100% 0%, 85% 100%, 1% 100%);
  border: solid 0.3rem black;
}
.mainContent .profileContent .profileImg img {
  width: 30vw;
  max-height: 75vh;
}
.mainContent .aboutContent {
  width: 100%;
  flex: 0 0 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mainContent .aboutContent p {
  margin-top: 10vh;
  font-weight: 500;
  font-size: 9rem;
  grid-area: "area1";
  align-items: center;
}
.mainContent .aboutContent p span {
  font-size: 10rem;
}
.mainContent .aboutContent div {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainContent .aboutContent div .aboutMe img {
  margin-left: 10vw;
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%);
  width: 30vw;
  height: 60vh;
}
.mainContent .aboutContent div .softSkill {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}
.mainContent .aboutContent div .softSkill p {
  font-family: "Alata", sans-serif;
  font-weight: 300;
  color: rgb(194, 186, 186);
  font-size: 1.5rem;
  margin-right: 20%;
  text-align: justify;
}
.mainContent .aboutContent div .softSkill div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mainContent .aboutContent div .softSkill div a {
  text-decoration: none;
}
.mainContent .aboutContent div .softSkill div a button {
  font-size: 1.5rem;
  display: flex;
  border: none;
  max-width: 15vw;
  height: 9vh;
  max-height: none;
  text-align: center;
  align-items: center;
}
.mainContent .aboutContent div .softSkill div a button i {
  margin-left: 10%;
  margin-right: 5%;
  font-size: 1.5rem;
}
.mainContent .aboutContent div .softSkill div a button span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 10%;
}
.mainContent .aboutContent div .softSkill div a .download {
  width: 14vw;
  background-color: rgba(127, 255, 212, 0.797);
  color: black;
  border-radius: 20rem;
  transition: all, 0.5s;
}
.mainContent .aboutContent div .softSkill div a .download i, .mainContent .aboutContent div .softSkill div a .download span {
  color: #272727;
}
.mainContent .aboutContent div .softSkill div a .download span {
  font-family: "Josefin Sans", sans-serif;
}
.mainContent .aboutContent div .softSkill div a .download:hover {
  background-color: rgba(240, 255, 255, 0);
  border: none;
}
.mainContent .aboutContent div .softSkill div a .download:hover i, .mainContent .aboutContent div .softSkill div a .download:hover span {
  color: rgb(242, 237, 237);
}
.mainContent .aboutContent div .softSkill div a .cvWeb {
  margin-left: 1vw;
  width: 10vw;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all, 0.5s;
  align-items: center;
  padding-left: 1vw;
}
.mainContent .aboutContent div .softSkill div a .cvWeb:hover {
  background-color: rgba(127, 255, 212, 0.797);
  color: black;
  border-radius: 20rem;
}
.mainContent .aboutContent div .softSkill div a .cvWeb:hover i, .mainContent .aboutContent div .softSkill div a .cvWeb:hover span {
  color: #272727;
}
.mainContent .languageContent {
  flex: 0 0 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContent .languageContent p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-top: 10%;
  font-size: 3rem;
}
.mainContent .languageContent .cardLanguage {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: minmax(2fr, 4fr);
  grid-template-rows: minmax(6vh, 15vh);
  gap: 2%;
}
.mainContent .languageContent .cardLanguage .html {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
  width: 20vw;
  height: 15vh;
}
.mainContent .languageContent .cardLanguage .html h1 {
  margin-top: 6%;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
}
.mainContent .languageContent .cardLanguage .html:hover {
  clip-path: polygon(22% 0, 100% 0%, 75% 100%, 0% 100%);
  border-radius: 8px 8px 8px 8px;
  background-color: #f86529;
}
.mainContent .languageContent .cardLanguage .css {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
}
.mainContent .languageContent .cardLanguage .css h1 {
  margin-top: 6%;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
}
.mainContent .languageContent .cardLanguage .css:hover {
  clip-path: polygon(22% 0, 79% 0, 100% 100%, 0% 100%);
  border-radius: 8px 8px 8px 8px;
  background-color: #5020df;
}
.mainContent .languageContent .cardLanguage .javaScript {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
  width: 20vw;
  height: 15vh;
}
.mainContent .languageContent .cardLanguage .javaScript h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 6%;
  font-size: 4rem;
}
.mainContent .languageContent .cardLanguage .javaScript:hover {
  clip-path: polygon(0 0, 79% 0, 100% 100%, 20% 100%);
  border-radius: 8px 8px 8px 8px;
  background-color: #cfdf20;
}
.mainContent .languageContent .cardLanguage .nodeJs {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
  width: 20vw;
  height: 15vh;
}
.mainContent .languageContent .cardLanguage .nodeJs h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 6%;
  font-size: 4rem;
}
.mainContent .languageContent .cardLanguage .nodeJs:hover {
  clip-path: polygon(100% 0%, 86% 50%, 100% 100%, 12% 100%, 0% 50%, 16% 0);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(72, 163, 30, 0.66);
}
.mainContent .languageContent .cardLanguage .bootStrap {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
  width: 20vw;
  height: 15vh;
}
.mainContent .languageContent .cardLanguage .bootStrap h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 6%;
  font-size: 4rem;
}
.mainContent .languageContent .cardLanguage .bootStrap:hover {
  clip-path: polygon(88% 0, 100% 50%, 90% 100%, 12% 100%, 0 46%, 12% 1%);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(255, 0, 217, 0.594);
}
.mainContent .languageContent .cardLanguage .bulma {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
  width: 20vw;
  height: 15vh;
}
.mainContent .languageContent .cardLanguage .bulma h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 6%;
  font-size: 4rem;
}
.mainContent .languageContent .cardLanguage .bulma:hover {
  clip-path: polygon(85% 0, 100% 50%, 87% 100%, 0% 100%, 11% 51%, 0% 0%);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(0, 255, 238, 0.642);
}
.mainContent .languageContent .cardLanguage .sass {
  background-color: rgba(255, 166, 0, 0);
  text-align: center;
  width: 20vw;
  height: 15vh;
}
.mainContent .languageContent .cardLanguage .sass h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 6%;
  font-size: 4rem;
  font-weight: 300;
}
.mainContent .languageContent .cardLanguage .sass:hover {
  clip-path: polygon(0 0, 79% 0, 100% 100%, 20% 100%);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(255, 0, 208, 0.619);
}
.mainContent .projectSection {
  flex: 0 0 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContent .projectSection h1 {
  display: inline;
  font-size: 9rem;
}
.mainContent .projectSection p {
  font-size: 1.5rem;
}
.mainContent .projectSection .filters {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.mainContent .projectSection .filters .btnFilter {
  display: flex;
  justify-content: center;
  width: 7vw;
  background-color: antiquewhite;
  border-radius: 8px;
}
.mainContent .projectSection .filters .btnFilter span {
  color: #272727;
  font-size: 1.2rem;
}
.mainContent .projectSection .filters .btnFilter:hover {
  background-color: rgba(127, 255, 212, 0.655);
}
.mainContent .projectSection .filters .btnFilter:hover span {
  color: rgb(255, 255, 255);
}
.mainContent .projectSection .filterSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(15vh, 20vh);
  gap: 8vw 1vh;
}
.mainContent .projectSection .filterSection .cardFilter {
  text-align: center;
  margin-top: 10%;
  min-width: 30vw;
  min-height: 35vh;
}
.mainContent .projectSection .filterSection .cardFilter a {
  text-decoration: none;
}
.mainContent .projectSection .filterSection .cardFilter a .cardText {
  margin-top: 10%;
}
.mainContent .projectSection .filterSection .cardFilter a .cardText h1 {
  font-size: 1.5rem;
  opacity: 0;
  color: white;
}
.mainContent .projectSection .filterSection .cardFilter a .cardText p {
  margin-top: 2%;
  margin-right: 50%;
  opacity: 0;
}
.mainContent .projectSection .filterSection .cardFilter:hover {
  background-color: black;
}
.mainContent .projectSection .filterSection .cardFilter:hover .blog, .mainContent .projectSection .filterSection .cardFilter:hover .sunny, .mainContent .projectSection .filterSection .cardFilter:hover .potWev, .mainContent .projectSection .filterSection .cardFilter:hover .cvWeb, .mainContent .projectSection .filterSection .cardFilter:hover .ide, .mainContent .projectSection .filterSection .cardFilter:hover .onebit {
  display: none;
}
.mainContent .projectSection .filterSection .cardFilter:hover a .cardText h1 {
  opacity: 1;
}
.mainContent .projectSection .filterSection .cardFilter:hover a .cardText p {
  opacity: 1;
}
.mainContent .projectSection .filterSection .blog, .mainContent .projectSection .filterSection .sunny, .mainContent .projectSection .filterSection .potWev, .mainContent .projectSection .filterSection .cvWeb, .mainContent .projectSection .filterSection .ide, .mainContent .projectSection .filterSection .onebit {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.mainContent .projectSection .filterSection .blog {
  background-image: url("../img/project/blog.png");
}
.mainContent .projectSection .filterSection .sunny {
  background-image: url("../img/project/sunny.png");
}
.mainContent .projectSection .filterSection .potWev {
  background-image: url("../img/project/potWev.png");
}
.mainContent .projectSection .filterSection .cvWeb {
  background-image: url("../img/project/cvWeb.png");
}
.mainContent .projectSection .filterSection .ide {
  background-image: url("../img/project/ide.png");
}
.mainContent .projectSection .filterSection .onebit {
  background-image: url("../img/project/onebit.png");
}

/*# sourceMappingURL=style.css.map */
